*.txt
*.bin
*.lst
*.elf
*.o
*.a
*.img
*.ipch
*.S
*.EFI
.claude/
.codegraph/
.hermes/
sysroot/*
toolchain/*
qemu-8.2.1/*
boot/uefi/*
!boot/uefi/main.c
!toolchain/setup.sh
kernel/kernel/kallsyms
build/
