# ── Architecture: x86_64 ────────────────────────────────────
# Toolchain
ASM            = nasm
ARCH_LINKER    = linker.ld

# Arch-specific CFLAGS (passed to clang for compile AND link)
ARCH_CFLAGS    = -mcmodel=kernel -ffreestanding -mno-red-zone \
                 -Wall -Wextra \
                 -mno-80387 -mno-sse -mno-sse2 -mno-3dnow -mno-mmx -fpie
ARCH_ASMFLAGS  =

# Arch-specific linker flags
ARCH_LDFLAGS   = -Wl,-m -Wl,elf_x86_64 -static -Wl,-z,muldefs

# Arch-specific source files (auto-discovered)
KERNEL_ARCH_SOURCES := \
    $(wildcard $(ARCHDIR)/*.c) \
    $(wildcard $(ARCHDIR)/*.S)
